h1,
h2,
h3 {
  @extend .title;
}

h1 {
  @extend .is-1;
}

h2 {
  @extend .is-2;
}

h3 {
  @extend .is-3;
}

p {
  margin: 0.25rem 0;
}

/// TEXT COLOR DEPENDING ON BACKGROUND COLOR
.has-background-white,
.has-background-light {
  @extend .has-text-black;

  * {
    color: currentColor;
  }
}

.has-background-black,
.has-background-dark {
  @extend .has-text-white;

  * {
    color: currentColor;
  }
}

// Colors on title & subtitle
.title,
.subtitle {
  color: currentColor;
}

// Other
em {
  font-style: italic;
}

ul {
  list-style: circle;
  list-style-position: inside;
  margin: 0.25rem 0;

  ul {
    margin-left: 1rem;
  }
}
