.columns {
  margin: 0;
  margin-bottom: 0 !important;

  &.container {
    margin: auto;
  }

  &.has-text {
    &-centered {
      justify-content: center;
    }
    &-right {
      justify-content: flex-end;
    }
    &-left {
      justify-content: flex-start;
    }
  }

  .column {
    &.is-align-items-flex-start {
      align-self: flex-start;
    }

    &.is-align-items-center {
      align-self: center;
    }

    &.is-align-items-flex-end {
      align-self: flex-end;
    }

    & > {
      display: inline-block;
    }
  }
}
