.main {
  display: grid;
  grid:
    'navbar' auto
    'body' 1fr
    'footer' auto
    / 1fr;
  min-height: 100vh;

  .navbar {
    grid-area: navbar;
  }
  .body {
    grid-area: body;
  }
  .footer {
    grid-area: footer;
  }
}
