.hero {
  &.has-background {
    background-size: cover;
    position: relative;
    overflow: hidden;

    &.is-parallax {
      background-attachment: fixed;
    }
  }
  &-background,
  &-video {
    left: 0;
    height: 100%;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 0;

    &.is-transparent {
      opacity: 0.6;
    }
  }

  &-body {
    z-index: 2;
  }
}
