@media print {
  body {
    width: auto !important;
    margin: auto !important;
    font-family: serif;
    font-size: 12pt;
    background-color: #fff !important;
    color: black !important;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  ul,
  ol,
  section,
  article {
    color: black !important;
    margin: auto !important;
  }
  .print {
    display: block;
  }
  p,
  blockquote {
    orphans: 3;
    widows: 3;
  }
  blockquote,
  ul,
  ol {
    page-break-inside: avoid;
  }
  h1 {
    page-break-before: always;
  }
  h1,
  h2,
  h3,
  caption {
    page-break-after: avoid;
  }

  section,
  article {
    max-width: 100%;
  }

  a {
    color: #000 !important;
    text-decoration: underline !important;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
}
